.DS_Store
dist/*
build/*
!build/mobile
build/mobile/www/*
build/mobile/www
build/mobile/platforms/android/*
build/mobile/platforms/browser/*
!build/icons
coverage
node_modules/
plugins/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep

