<!doctype html>
<html>
<head>
	<script>if (((location.protocol !== 'https:') && (location.href.indexOf('localhost') === -1)) || (location.href.indexOf('/alpha/') > 0)) { location.href = 'https://alpha.jsecoin.com';}</script> 
		
	<meta charset="utf-8">
	<title>JSECoin Alpha Web Platform</title>
</head>
<body>

<div id="JSEA-desktop"></div>

<!-- load jquery - used with core code -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="static/jquery-3.3.1.min.js"><\/script>')</script>

</body>
</html>
